<div class="main-footers">
	<div class="container">
		<!-- Category footer -->
		<div class="cat-ftr-cont float-width">
			<div class="cat-ftr-cont-sngl lefty cat-brd-1">
				<h3>لوريم ايبسوم</h3>
				<ul>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
				</ul>
			</div>
			<div class="cat-ftr-cont-sngl lefty cat-brd-2">
				<h3>لوريم ايبسوم</h3>
				<ul>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
				</ul>
			</div>
			<div class="cat-ftr-cont-sngl lefty cat-brd-3">
				<h3>لوريم ايبسوم</h3>
				<ul>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
				</ul>
			</div>
			<div class="cat-ftr-cont-sngl lefty cat-brd-4">
				<h3>لوريم ايبسوم</h3>
				<ul>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
				</ul>
			</div>
			<div class="cat-ftr-cont-sngl lefty cat-brd-5">
				<h3>لوريم ايبسوم</h3>
				<ul>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
					<li><a href="#">رابط</a></li>
				</ul>
			</div>
		</div>
		<!-- Info footer -->
		<div class="info-ftr float-width">
			<div class="mag-info lefty">
				<a class="ftr-logo" href="#" data-original-title="" title=""><img alt="" src="img/logo-footer.png"></a>
				<p>معكم هو مشروع ت
					وعي مستقل ، بحاجة إلى مساعدتكم ودعمكم لاجل استمراره ، فبدعمة سنوياً بمبلغ 10 دولارات أو اكثر حسب الامكانية نضمن
					استمراره . فالقاعدة الأساسية لادامة عملنا التطوعي ولضمان استقلاليته سياسياً هي استقلاله مادياً . بدعمكم المالي
					تقدمون مساهمة مهمة بتقوية قاعدتنا واستمرارنا على رفض استلام أي أنواع من الدعم من أي نظام أو مؤسسة. يمكنكم التبرع
					مباشرة بواسطة الكريدت كارد او عبر الباي بال<br>
				</p>
				<a href="#"><img src="img/paypal.png" alt="" style="max-width:30% !important;" /></a>
			</div>
			<div class="post-ftr lefty">
				<h3>لوريم ايبسوم</h3>
				<div class="pst-ftr-sngl float-width">
					<a href="#" class="lefty pst-ftr-img"></a>
					<p> هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
						أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى
						حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء.
						العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم</p>
					<a href="#" class="lefty stars"></a>
				</div>


			</div>
			<div class="twts-ftr lefty">
				<h3>لوريم ايبسوم</h3>
				<ul>
					<li>
						<p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص على سبيل المثال<br>
						</p>
					</li>
					<li>
						<p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص على سبيل المثال<br>
						</p>
					</li>
					<li>
						<p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص على سبيل المثال<br>
						</p>
					</li>
				</ul>
				<h6><a href="#" class="all-twts righty trans1"><em class="fa fa-twitter"></em> Read all tweets</a></h6>
			</div>
		</div>
	</div>
</div>
<!-- Copy right footer -->
<div class="copy-rt-ftr">
	<div class="container">
		<a class="lefty">Magalla Template &#169; Copyright 2014, All Rights Reserved</a>

	</div>
</div>