<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>مجلة ثقافية</title>	
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="ﻣﻌﻜﻢ ﻣﺠﻠﺔ ﺛﻘﺎﻓﻴﺔ اﺟﺘﻤﺎﻋﻴﺔ ﻣﺴﺘﻘﻠﺔ، ﻭﻫﻲ ﻣﺤﺎﻭﻟﺔ ﻹﻳﺠﺎﺩ ﻓﻀﺎء ﻳﺴﺎﻫﻢ ﻓﻲ ﺗﺸﺠﻴﻊ اﻟﺤﺮﻛﺔ اﻟﺜﻘﺎﻓﻴﺔ اﻟﺼﺎﺩﻗﺔ اﻟﺤﻘﻴﻘﻴﺔ اﻟﺒﻌﻴﺪﺓ ﻋﻦ اﻟﺘﻄﺮﻑ ﺑﻜﻞ ﺃﺷﻜﺎﻟﻪ ﺳﻴﺎﺳﻴﺎً، ﺩﻳﻨﻴﺎً، ﺃﻭ ﻋﺮﻗﻴﺎً . ﺇﻧﻬﺎ ﺗﺘﻮﺟﻪ ﻟﻜﻞ ﻗﺮاء اﻟﻠﻐﺔ اﻟﻌﺮﺑﻴﺔ ﻓﻲ ﺃﻱ ﻣﻜﺎﻥ، ﻭﺗﺮﺣﺐ ﺑﻤﺴﺎﻫﻤﺎﺗﻬﻢ ﻭﺃﻓﻜﺎﺭﻫﻢ اﻟﺒﻨﺎءﺓ . ﺇﻧﻬﺎ ﺟﻬﻮﺩ ﻓﺮﺩﻳﺔ ﺩاﻓﻌﻬﺎ ﻣﺴﺎﻧﺪﺓ اﻟﺜﻘﺎﻓﺔ اﻟﻤﻠﺘﺰﻣﺔ اﻟﺤﺮﻳﺼﺔ ﻋﻠﻰ ﺩﻓﻊ ﺣﺮﻛﺔ ﺗﻄﻮﺭ اﻟﻤﺠﺘﻤﻊ اﻟﻌﺮﺑﻲ ﻓﻲ ﻛﻞ ﻣﻜﺎﻥ،ﻭﺇﻳﻤﺎﻧﺎً ﻣﻨﺎ ﺑﺄﻥ ﻣﻬﻨﺔ اﻟﺼﺤﺎﻓﺔ ﻫﻲ ﺧﺪﻣﺔ ﺣﻀﺎﺭﻳﺔ ﻣﺆﺛﺮﺓ . اﻥ ﻣﻌﻜﻢ ﺗﻌﺘﻤﺪ ﻋﻠﻰ اﻟﺘﻤﻮﻳﻞ اﻟﺬاﺗﻲ، ﻭﺗﻄﻤﺢ - ﻻﺳﺘﻤﺮاﺭﻫﺎ - اﻟﻰ ﺩﻋﻢ ﻭاﺳﻨﺎﺩ ﻣﻦ ﻳﺠﺪﻫﺎ ﺗﺴﺘﺤﻖ اﻷﺳﻨﺎﺩ ">
	<meta name="author" content="maakom">
	<meta name="keywords" content="ﺛﻘﺎﻓﻴﺔ ,اﺟﺘﻤﺎﻋﻴﺔ ,ﻣﺴﺘﻘﻠﺔ ,اﻟﺤﺮﻛﺔ اﻟﺜﻘﺎﻓﻴﺔ ,ﻗﺮاء اﻟﻠﻐﺔ اﻟﻌﺮﺑﻴﺔ ﻓﻲ ﺃﻱ ﻣﻜﺎﻥ">
	<link rel="icon" href="/img/favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap.min_rtl.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main_rtl.css">
	<link rel="stylesheet" href="/css/responsive_rtl.css">
	<link rel="stylesheet" href="/css/calendar.css">
	<!--link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet"-->
	<!--[if gt IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie_rtl.css" />
	<![endif]-->
	<script src="/js2/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>