<div class="container">
  <div class="main-news-blks">
    <div class="hm-slider-cont mid-blks-cont">
      <!-- Block1 -->
      <div class="mid-block-1 boxgrid caption">
        <a href="#">
          <img alt="" src="img/icon46.jpg" width="100%" height="100%">
        </a>
        <div class="cover boxcaption" style="top: 142px;">
          <h3><a href="#single.html">الجزائري من خلال الكاميرا الخفية</a></h3>
          <h4><span class="text-muted inline">معمر حبار/ الجزائر</span>
            <p class="artcl-time-1">
              <span><i class="fa fa-clock-o"></i>20 يناير 2014</span><span><i class="fa fa-comment-o"></i>21 تعليق</span>
            </p>
          </h4>
          <a href="#single.html">
            <p style="margin: 0">يهدف هذا العرض إلى لفت أنظار الباحث في التراث الأندلسي إلى أمور أساسية...</p>
          </a>
        </div>
      </div>
      <!-- Block2 -->
      <div class="mid-block-1 boxgrid caption">
        <a href="#">
          <img alt="" src="img/10906.jpg" width="100%" height="100%" />
        </a>
        <div class="cover boxcaption" style="top: 142px;">
          <h3><a href="#single.html">الجزائري من خلال الكاميرا الخفية</a></h3>
          <h4><span class="text-muted inline">معمر حبار/ الجزائر</span>
            <p class="artcl-time-1">
              <span><i class="fa fa-clock-o"></i>20 يناير 2014</span><span><i class="fa fa-comment-o"></i>21 تعليق</span>
            </p>
          </h4><a href="#single.html">
            <p style="margin: 0">يهدف هذا العرض إلى لفت أنظار الباحث في التراث الأندلسي إلى أمور أساسية...</p>
          </a>
        </div>
      </div>
    </div>

    <!-- Fixed Blocks -->
    <div class="mid-blks-cont hm-slider-cont">
      <!-- Block3 -->
      <div class="mid-block-1 boxgrid caption">
        <a href="#">
          <img alt="" src="img/icon77.jpg" width="100%" height="100%">
        </a>
        <div class="cover boxcaption" style="top: 142px;">
          <h3><a href="#single.html">من فيض الروح </a></h3>
          <h4><span class="text-muted inline">وجدان عبدالعزيز</span>
            <p class="artcl-time-1">
              <span><i class="fa fa-clock-o"></i>20 يناير 2014</span><span><i class="fa fa-comment-o"></i>21 تعليق</span>
            </p>
          </h4>
          <a href="#single.html">
            <p style="margin: 0">يهدف هذا العرض إلى لفت أنظار الباحث في التراث الأندلسي إلى أمور أساسية...</p>
          </a>
        </div>
      </div>
      <!-- Block4 -->
      <div class="mid-block-1 boxgrid caption">
        <a href="#">
          <img alt="" src="img/icon21.jpg" width="100%" height="100%">
        </a>
        <div class="cover boxcaption" style="top: 142px;">
          <h3><a href="#single.html">من فيض الروح </a></h3>
          <h4><span class="text-muted inline">وجدان عبدالعزيز</span>
            <p class="artcl-time-1">
              <span><i class="fa fa-clock-o"></i>20 يناير 2014</span><span><i class="fa fa-comment-o"></i>21 تعليق</span>
            </p>
          </h4>
          <a href="#single.html">
            <p style="margin: 0">يهدف هذا العرض إلى لفت أنظار الباحث في التراث الأندلسي إلى أمور أساسية...</p>
          </a>
        </div>
      </div>
    </div>
    <!-- Block5 -->
    <div class="rt-bk-cont">
      <div class="rt-block boxgrid2 caption">
        <a href="#">
          <img alt="" src="img/10908.jpg" width="100%" height="100%">
        </a>
        <div class="cover boxcaption2" style="top: 366px;">
          <h3><a href="#single.html">من فيض الروح </a></h3>
          <h4><span class="text-muted inline">وجدان عبدالعزيز</span>
            <p class="artcl-time-1">
              <span><i class="fa fa-clock-o"></i>20 يناير 2014</span><span><i class="fa fa-comment-o"></i>21 تعليق</span>
            </p>
          </h4>
          <a href="#single.html">
            <p style="margin: 0">يهدف هذا العرض إلى لفت أنظار الباحث في التراث الأندلسي إلى أمور أساسية...</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>