<!-- Main Home Layout start -->
<!-- Logo and Ad banner -->
<div class="logo-top-ad">
	<div class="container">
		<div class="row">
			<!-- Magalla Logo -->
			<div class="logo">
				<a href="index.html"><img alt="maakom" src="/img/logo.png" /></a>
			</div>
		</div>
	</div>
</div>
<!-- Main Menu -->
<div class="main-menu">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<!-- Main Menu -->
				<ul id="main-menu-items" class="sm sm-menu menu-efct">

					<li class="active"><a href="index.html">الرئيسية</a></li>
					<li><a href="article.html">صحة</a></li>
					<li class="mega-menu-li">
						<a href="author.html">فى كل مكان</a>
					</li>
					<li>
						<a href="single-cat.html">النصف الأخر</a>
					</li>
					<li><a href="contact.html">من نحن</a></li>
				</ul>
			</div>
			<div class="col-lg-4 main-search-bar">
				<!-- Top Search bar -->
				<form class="navbar-form float-width" role="search">
					<div class="form-group float-width">
						<input type="text" class="form-control float-width" placeholder="أدخل كلمة البحث">
					</div>
					<a href="#" type="submit"><i class="fa fa-search"></i></a>
				</form>
			</div>
		</div>
		<!-- Close the Fixed Menu button -->
		<a class="fxd-mnu-x trans1" title="Close" id="hidemenu"><span class="fa-stack fa-lg"> <i class="fa fa-times fa-stack-1x fa-inverse"></i>
			</span></a>
	</div>
</div>