{{ define "main" }}
<div class="container">
    <!-- Main Left side -->
    <div class="main-left-side">
       <!-- Single Category - Top News -->

            <!-- Single Category News Blocks -->
            <div class="news-sec-1 float-width">
                <div class="float-width sec-cont2">
                   <h3 class="sec-title">المولفين </h3>
            
                {{ range .Pages }}
                    <div class="sec-1-big float-width">
                        <img alt="" class="blocky" src="{{.Params.image}}" />
                        <div class="sec-1-big-text lefty">
                        <h3>{{ .Params.title }}</h3>
                        </div>
                    </div>
                {{ end }}

                </div>
            </div>

            <div class="cat-pagintn float-width">
                <ul>
                   <li><a class="crnt-pg">1</a></li>
                   <li><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">4</a></li>
                   <li><a href="#">5</a></li>
                   <li><a href="#">6</a></li>
                   <li><a href="#">7</a></li>
                   <li><a href="#">...</a></li>
                   <li><a href="#">22</a></li>
                </ul>
             </div>

        </div>
     

<!-- Main Right side -->
<div class="main-right-side">
    <!-- Trending news right -->
    <div class="trending lefty">


       <div class="float-width">
           <h3 class="sec-title">صحة</h3>
          <div class="trend-sm3 float-width">
             <a href="#"><img alt="" class="lefty" src="img/samples/e2.jpg" /></a>
             <h4 class="lefty">لوريم ابيسوم</h4>

             <p class="lefty"><span><i class="fa fa-clock-o"></i>20 يناير 2014</span></p>
          </div>
          <div class="trend-sm3 float-width">
             <a href="#"><img alt="" class="lefty" src="img/samples/e1.jpg" /></a>
              <h4 class="lefty">لوريم ابيسوم</h4>

             <p class="lefty"><span><i class="fa fa-clock-o"></i>20 يناير 2014</span></p>
          </div>
          <div class="trend-sm3 float-width">
             <a href="#"><img alt="" class="lefty" src="img/samples/e3.jpg" /></a>
              <h4 class="lefty">لوريم ابيسوم</h4>

             <p class="lefty"><span><i class="fa fa-clock-o"></i>20 يناير 2014</span></p>
          </div>
       </div>
        <div class="float-width">
            <h3 class="sec-title">ابداع</h3>
           <div class="trend-sm3 float-width">
              <a href="#"><img alt="" class="lefty" src="img/samples/e2.jpg" /></a>
               <h4 class="lefty">لوريم ابيسوم</h4>
              <p class="lefty"><span><i class="fa fa-clock-o"></i>20 يناير 2014</span></p>
           </div>
           <div class="trend-sm3 float-width">
              <a href="#"><img alt="" class="lefty" src="img/samples/e1.jpg" /></a>
               <h4 class="lefty">لوريم ابيسوم</h4>

              <p class="lefty"><span><i class="fa fa-clock-o"></i>20 يناير 2014</span></p>
           </div>
           <div class="trend-sm3 float-width">
              <a href="#"><img alt="" class="lefty" src="img/samples/e3.jpg" /></a>
               <h4 class="lefty">لوريم ابيسوم</h4>

              <p class="lefty"><span><i class="fa fa-clock-o"></i>20 يناير 2014</span></p>
           </div>
        </div>
    </div>
    <!-- Social Media Counter -->
    <!-- Flicker Widget -->
    <!-- News letter subscription -->
    <!-- Ad banner right -->
    <div class="lefty ad-rt">
       <a href="#"><img alt="" src="img/samples/u1.jpg" /></a>
    </div>
 </div>
</div>


{{end}}

 